/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Main Styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

/* Form Styles */
.form-label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    
}

/* Button Styles */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: #333;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

/* Pets List Styles */
#pets {
    list-style: none;
    padding: 0;
}

#pets li {
    margin-bottom: 100px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
}

