body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: rgb(11, 37, 54);
    padding: 10px;
    color: white;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    padding: 10px;
    font-size: 32px;
}

h2 {
    color: rgb(21, 21, 31);
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(154, 154, 167);
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Improved styles for the pet list section */
#petList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* Media query for responsive layout */
@media screen and (max-width: 768px) {
    #petList {
        grid-template-columns: repeat(2, 1fr);
    }
}
