/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

/* Main Content */
main {
    background-color: rgb(190, 153, 103);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c3e50;
}

.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #3498db;
    border: none;
}

.btn-success {
    background-color: #27ae60;
    border: none;
    margin-left: 10px;
}

/* Pet ID Cards */
#pets-table {
    margin-top: 20px;
    background-color: rgb(197, 194, 191);
    color:blue;
}



/* Tan and Blue Color Scheme */
#txtName,
#txtAge,
#txtGender,
#txtBreed,
#txtService,
.btn-primary,
.btn-success {
    border: 1px solid #7c7571;
}

.btn-primary {
    background-color:  #1a2632; 
    color: white; 
    font-weight: bold; 
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #1a322a; /* Darker blue on hover */
}

.btn-success {
    background-color: rgb(139, 99, 46); /* Change success button color to black */
    color: white; 
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px; 
    margin-top: 50px;
    cursor: pointer;
}

/* Center Success Button */
.center-btn {
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

/* Bordered Pet ID Cards */
#pets-table {
    border: 1px solid #e2cfc2;
}

.table {
    border: 1px solid #e2cfc2;
    background-color: #f4f0e9; /* Tan background */
}

.table th,
.table td {
    border: 1px solid #e2cfc2;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #788396; /* Blue header background */
    color: #ffffff;
}

.table th, .table td {
    vertical-align: middle;
}


/* Footer */
footer {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    border: width 100px; ;
    max-height: max-content;
}
.content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
